@import "variables";
.contact-row {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
}
.contacts-header {
  padding: 10px 15px 10px 15px;
}

.profile-img {
  border-radius: 50%;
  width: 2.5rem;
}

.contact-email {
  color: $dark-grey;
  font-size: $small-text;
}
