<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-6 login-card">
      <form (ngSubmit)="login(account, password, loginForm.valid)" #loginForm="ngForm">
        <p class="form-control-feedback" *ngIf="authError">Wrong email or password.</p>
        <div class="form-group">
          <label for="account">Account</label>
          <input type="text" class="form-control input-air" name="account" [(ngModel)]="account" #accountInput="ngModel" required>
          <div class="form-control-feedback" *ngIf="accountInput.invalid && (accountInput.dirty || accountInput.touched || loginForm.submitted)">
            You can't create a team without a name
          </div>
        </div>

        <div class="form-group">
          <label for="pass">Password</label>
          <input type="password" class="form-control input-air" name="pass" [(ngModel)]="password" #passwordInput="ngModel" required>
          <div class="form-control-feedback" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched || loginForm.submitted)">
            You can't create a team without a name
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>
